.navbar
	background #ccc
	box-shadow 0.2em 0.3em 0.5em
	margin-top 1em

.brand-logo
	position absolute 
	top -1em
	left 0
	z-index 999
	img
		&:last-child
			position absolute
			top 0
			margin-left 1em
			margin-top: 3em

.menu-hamburguer
	position absolute
	top 0
	rigth 0

#slider
	background #ccc
	z-index 99999