@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?woeyci');
	src:url('../fonts/icomoon.eot?#iefixwoeyci') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?woeyci') format('truetype'),
		url('../fonts/icomoon.woff?woeyci') format('woff'),
		url('../fonts/icomoon.svg?woeyci#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
	content: "\e60f";
	color: #4b4f51;
	font-size: 3em;	
}

.icon-triangle-down:before {
	content: "\e600";
	color: #fff;
	float: right;
}

.icon-triangle-down-yellow:before {
	content: "\e600";
	color: #000;
	float: right;
}

.icon-caret-down:before {
	content: "\e601";
}

.icon-earth3:before {
	content: "\e605";
}

.icon-earth:before {
	content: "\e602";
	color: #fff;
	margin-right: 0.5em;
  	font-size: 1.5em;
}
.icon-earth2:before {
	content: "\e603";
}
.icon-globe:before {
	content: "\e604";
}
.icon-search:before {
	content: "\e606";
}

.icon-keyboard-arrow-right:before {
	content: "\e607";
	color: #000;
	font-size: 5em;
	text-shadow: 3px 1px 8px rgba(0,0,0,0.8);
}



.icon-keyboard-arrow-right-green:before {
	content: "\e607";
	color: #1f9729;
	font-size: 5em;
	text-shadow: 3px 1px 8px rgba(0,0,0,0.8);
}

@media screen and (min-width: 992px){
	.icon-keyboard-arrow-right-green:before {
		content: "\e607";
		color: #1f9729;
		font-size: 7em;
		text-shadow: 3px 1px 8px rgba(0,0,0,0.8); 
 	}

 	.icon-keyboard-arrow-right:before {
		content: "\e607";
		color: #000;
		font-size: 7em;
		text-shadow: 3px 2px 6px #000;
	}
}



